<!DOCTYPE html>
<html>
<head>


<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Gestione prodotti </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" th:href="@{listMaglietteAdmin}">Magliette</a></li>
						<li><a class="dropdown-item" th:href="@{listCamicieAdmin}">Camicie</a></li>
						<li><a class="dropdown-item" th:href="@{listVestitiAdmin}">Vestiti</a></li>
						<li><a class="dropdown-item" th:href="@{listPantaloniAdmin}">Pantaloni</a></li>
						<li><a class="dropdown-item" th:href="@{listScarpeAdmin}">Scarpe</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" th:href="@{listAllAdmin}">Tutti
								i capi</a></li>
					</ul></li>
				<li class="nav-item ms-5"><a class="nav-link"
					th:href="@{ordiniAdmin}">Gestione ordini</a>
				<li class="nav-item ms-5 dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Gestione admin </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" th:href="@{profiloAdmin}">Profilo</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" th:href="@{createAdmin}">Aggiungi
								admin</a></li>
					</ul></li>
				<li class="nav-item ms-5"><a class="nav-link"
					th:href="@{nuovoProdotto}">Aggiungi prodotto</a></li>
			</ul>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
			</ul>
		</div>
	</div>
</body>
</html>










