<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style.css">
<title>Project Academy</title>
</head>
<body style="background-color: #F6F1F1">
	<nav th:insert="~{fragments/header}"></nav>
	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		sec:authorize="hasRole('AMMINISTRATORE')"
		th:insert="~{fragments/header-admin}"></nav>

	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		sec:authorize="hasRole('CLIENTE')"
		th:insert="~{fragments/header-utente}"></nav>

	<div class="carrello" style="width: 100%;">
		<h1 align="center" style="color: #146C94; font-weight: bold;">Il
			tuo carrello</h1>

		<section class="h-100">
			<div class="container h-100 py-5">
				<div
					class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-10">
						<div class="card rounded-3 mb-4"
							th:each="prod: ${listProdOrd.dati}" th:if="${listProdOrd.dati != null}">
							<div class="card-body p-4">
								<div
									class="row d-flex justify-content-between align-items-center"
									th:each="p: ${listProd.dati}"
									th:if="${p.id == prod.idProdotto}">
									<div class="col-md-2 col-lg-2 col-xl-2">
										<img th:src="${p.img}" class="img-fluid rounded-3">
									</div>
									<div class="col-md-3 col-lg-3 col-xl-3">
										<p class="lead fw-normal mb-2" th:text="${p.marca}"></p>
										<p>

											<span class="text-muted" th:if="${p.scarpaDto != null}"
												th:utext="'Taglia scarpe: ' + ${p.scarpaDto.tagliaScarpe}">
											</span> <span class="text-muted" th:if="${p.magliettaDto != null}"
												th:utext="'Taglia maglietta: ' + ${p.magliettaDto.taglia}">
											</span> <span class="text-muted" th:if="${p.vestitoDto != null}"
												th:utext="'Taglia vestito: ' + ${p.vestitoDto.taglia}">
											</span> <span class="text-muted" th:if="${p.camiciaDto != null}"
												th:utext="'Taglia camicia: ' + ${p.camiciaDto.taglia}">
											</span> <span class="text-muted" th:if="${p.pantaloneDto != null}"
												th:utext="'Taglia pantaloni: ' + ${p.pantaloneDto.taglia}">
											</span> <br /> <span class="text-muted"
												th:utext="'Materiale: ' + ${p.materiale}"> </span>
										</p>
									</div>
									<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
										<button data-mdb-button-init data-mdb-ripple-init
											class="btn btn-link px-2"
											onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
											<i class="fas fa-minus"></i>
										</button>

										<input id="form1" min="0" name="quantity"
											th:value="${prod.qty}" type="number"
											class="form-control form-control-sm" />

										<button data-mdb-button-init data-mdb-ripple-init
											class="btn btn-link px-2"
											onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
											<i class="fas fa-plus"></i>
										</button>
									</div>
									<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
										<h5 class="mb-0" th:utext="${p.prezzo * prod.qty} + ' €'"></h5>

									</div>
									<div class="col-md-1 col-lg-1 col-xl-1 text-end">
										<a href="#!" class="text-danger"><i
											class="fas fa-trash fa-lg"></i></a>
									</div>
								</div>
							</div>
						</div>


						<div class="d-flex justify-content-between px-x">
							<h4>Prezzo totale:</h4>
							<h4 th:utext="${ordine.dati.prezzoTotale} + ' €'"></h4>
						</div>

						<button th:href="@{/acquistaOrdine(idOrdine=${ordine.dati.id})}" class="login-button" style="margin-top: 15px;">Conferma
							l'acquisto</button>

					</div>
				</div>
			</div>
		</section>

	</div>

</body>
</html>