<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style.css">
<title>Project Academy</title>
</head>
<body style="background-color: #F6F1F1">
	<nav th:insert="~{fragments/header}"></nav>
	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		th:insert="~{fragments/header-utente}"></nav>

	<div class="container">
				<nav th:insert="~{fragments/sidebar}"></nav>
		<div>
			<div align="center"
				style="color: #146C94; font-weight: bold; margin-bottom: 20px; font-size: xx-large;">Scopri
				il tuo stile</div>
			<div style="background-color: #F6F1F1; width: 600px; height: 400px">
				<div id="carouselExampleAutoplaying" class="carousel slide"
					data-bs-ride="carousel"
					style="width: 600px; height: 400px; z-index: 100">
					<div class="carousel-inner">
						<div class="carousel-item active"
							style="width: 600px; height: 400px">
							<img
								src="https://st.depositphotos.com/2209782/2833/i/450/depositphotos_28336025-stock-photo-clothes-on-a-rack.jpg"
								alt="abiti appesi agli attaccappani" class="z-index:10"
								style="width: 600px; height: 400px">
						</div>
						<div class="carousel-item" style="width: 600px; height: 400px">
							<img
								src="https://media.istockphoto.com/id/1257563298/it/foto/vestiti-di-moda-su-un-rack-in-uno-sfondo-leggero-allinterno-posto-per-il-testo.jpg?s=612x612&w=0&k=20&c=zzZVFXf_ttiHpFsHGF8UdDO1Mp3Fw2WptKfRBmb_hpg="
								class="d-block w-100" style="width: 600px; height: 400px">
						</div>
						<div class="carousel-item" style="width: 600px; height: 400px">
							<img
								src="https://media.istockphoto.com/id/854321536/it/foto/guarda-questo-splendido-vestito.jpg?s=612x612&w=0&k=20&c=bJn31pxzTwWk3vR_4bXc38Crcwie-NQb95_T0VnA_tM="
								class="d-block w-100" style="width: 600px; height: 400px">
						</div>
						<div class="carousel-item" style="width: 600px; height: 400px">
							<img
								src="https://st.depositphotos.com/1000137/2375/i/450/depositphotos_23753813-stock-photo-variety-of-clothes-hanging-on.jpg"
								class="d-block w-100" style="width: 600px; height: 400px">
						</div>
						<div class="carousel-item" style="width: 600px; height: 400px">
							<img
								src="https://media.istockphoto.com/id/955641488/it/foto/negozio-di-abbigliamento-costume-abito-fashion-store-stile-concetto.jpg?s=612x612&w=0&k=20&c=jtQOpt6TtiiPKebEfjwQxyCvVXBA_vbtPifcaIFlWqA="
								class="d-block w-100" style="width: 600px; height: 400px">
						</div>
					</div>
					<button class="carousel-control-prev" type="button"
						data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>

				</div>
			</div>
		</div>
		<div class="new-product" style="margin-left: 20px">
			<h2 align="center"
				style="line-height: 30px; color: #146C94; font-weight: bold">Novità</h2>
			<div class="card-container">
				<div class="card" style="border: none;">
					<img src="../img/camicia1.jpg" class="card-img-top" >
					<div class="card-body">
						<h5 class="card-title">Nome prodotto</h5>
						<p class="card-text">Prezzo</p>
						<button href="#" class="see-button" style="font-size: 18px;">visualizza
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="highlight"
		style="justify-content: space-around; margin-top: 50px;">
		<div>
			<h2 align="center"
				style="color: #146C94; font-weight: bold; margin-bottom: 20px;">Prodotti
				in evidenza</h2>
		</div>


		<div class="card-container"
			style="display: flex; justify-content: space-around; flex-wrap: wrap;">
			<div class="card" style="width: 18rem; margin-bottom: 20px;">
				<img src="../img/pantaloni1.jpg" class="card-img-top" alt="Scarpe">
				<div class="card-body">
					<h5 class="card-title">Nome prodotto</h5>
					<p class="card-text">Prezzo</p>
					<button href="#" class="see-button" style="font-size: 18px;">visualizza
					</button>
				</div>
			</div>

			<div class="card" style="width: 18rem; margin-bottom: 20px;">
				<img src="../img/camicia1.jpg" class="card-img-top" alt="Scarpe">
				<div class="card-body">
					<h5 class="card-title">Nome prodotto</h5>
					<p class="card-text">Prezzo</p>
					<button href="#" class="see-button" style="font-size: 18px;">visualizza
					</button>
				</div>
			</div>

			<div class="card" style="width: 18rem; margin-bottom: 20px;">
				<img src="../img/camicia1.jpg" class="card-img-top" alt="Scarpe">
				<div class="card-body">
					<h5 class="card-title">Nome prodotto</h5>
					<p class="card-text">Prezzo</p>
					<button href="#" class="see-button" style="font-size: 18px;">visualizza
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="exp"
		style="justify-content: space-around; margin-top: 50px;">
		<div>
			<h2 align="center"
				style="color: #146C94; font-weight: bold; margin-bottom: 20px;">Esplora
				il nostro catalogo</h2>
		</div>
		<div class="images-index">
			<div class="image-item">
				<a href="#"> <img src="../img/camicia1.jpg">

					<div class="overlay">
						<div class="text">Magliette</div>
					</div>
				</a>
			</div>
			<div class="image-item">
				<a href="#"><img src="../img/camicia1.jpg">

					<div class="overlay">
						<div class="text">Camicie</div>
					</div>
				</a>
			</div>
			<div class="image-item">
				<a href="#"><img src="../img/camicia1.jpg">

					<div class="overlay">
						<div class="text">Vestiti</div>
					</div>
				</a>
			</div>
			<div class="image-item">
				<a href="#"> <img src="../img/pantaloni1.jpg">
					<div class="overlay">
						<div class="text">Pantaloni</div>
					</div>
				</a>
			</div>
			<div class="image-item">
				<a href="#"> <img src="../img/camicia1.jpg">
					<div class="overlay">
						<div class="text">Scarpe</div>
					</div>
				</a>
			</div>
			<div class="image-item">
				<a href="#"> <img src="../img/camicia1.jpg">
					<div class="overlay">
						<div class="text">Tutto il catalogo</div>
					</div>
				</a>
			</div>
		</div>
	</div>

</body>
</html>
