<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style.css">
<title>Project Academy</title>
</head>
<body style="background-color: #F6F1F1">
	<nav th:insert="~{fragments/header}"></nav>
	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		th:insert="~{fragments/header-utente}"></nav>

	<div class="container" style="flex-direction: column;">
		<div style="display: flex; align-items: flex-start;">
			<nav th:insert="~{fragments/sidebar}"></nav>
			<div class="filters"
				style="width: 100%; display: flex; flex-wrap: wrap; gap: 20px;">
				<form
					style="display: flex; flex-wrap: wrap; gap: 20px; width: 100%;">
					<div style="flex: 1 1 31%;">
						<label class="form-label">Colore</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="...">......</option>
						</select>
					</div>
					<div style="flex: 1 1 31%;">
						<label class="form-label">Fantasia</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="...">......</option>
						</select>
					</div>
					<div style="flex: 1 1 31%;">
						<label class="form-label">Marca</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="...">......</option>
						</select>
					</div>
					<div style="flex: 1 1 31%;">
						<label class="form-label">Materiale</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="...">......</option>
						</select>
					</div>
					<div style="flex: 1 0 31%; min-width: 200px;">
						<label class="form-label">Chiusura</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="...">......</option>
						</select>
					</div>
					<div style="flex: 1 0 31%; min-width: 200px;">
						<label class="form-label">Taglia</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="...">......</option>
						</select>
					</div>
					<div style="flex: 0 0 32%; min-width: 200px;">
						<label class="form-label">Tipo</label> <select class="form-select"
							multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="...">......</option>
						</select>
					</div>
					<div style="flex: 0 1 32%; min-width: 200px;">
						<label class="form-label">Sesso</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="id_blu">M</option>
							<option value="id_nero">F</option>
							<option value="id_bianco">Unisex</option>
						</select>
					</div>
					<button type="submit" class="login-button">Conferma</button>
				</form>
			</div>

		</div>
		<div class="highlight"
			style="justify-content: space-around; margin-top: 50px;">
			<div>
				<h2 align="center"
					style="color: #146C94; font-weight: bold; margin-bottom: 20px;">Tutte
					le scarpe</h2>
			</div>


			<div class="card-container"
				style="display: flex; justify-content: space-around; flex-wrap: wrap;">
				<div class="card" style="width: 18rem; margin-bottom: 20px;">
					<img src="../img/camicia1.jpg" class="card-img-top" alt="Scarpe">
					<div class="card-body">
						<h5 class="card-title">Nome prodotto</h5>
						<p class="card-text">Altri parametri......</p>
						<p class="card-text">Prezzo</p>
						<a th:href="@{prodotto}" class="see-button"
							style="font-size: 18px;">Visualizza</a>
					</div>
				</div>

				<div class="card" style="width: 18rem; margin-bottom: 20px;">
					<img src="../img/pantaloni1.jpg" class="card-img-top" alt="Scarpe">
					<div class="card-body">
						<h5 class="card-title">Nome prodotto</h5>
						<p class="card-text">Altri parametri......</p>
						<p class="card-text">Prezzo</p>
						<a th:href="@{prodotto}" class="see-button"
							style="font-size: 18px;">Visualizza</a>
					</div>
				</div>

				<div class="card" style="width: 18rem; margin-bottom: 20px;">
					<img src="../img/camicia1.jpg" class="card-img-top" alt="Scarpe">
					<div class="card-body">
						<h5 class="card-title">Nome prodotto</h5>
						<p class="card-text">Altri parametri......</p>
						<p class="card-text">Prezzo</p>
							<a th:href="@{prodotto}" class="see-button"
							style="font-size: 18px;">Visualizza</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
