<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style.css">
<title>Project Academy</title>
</head>
<body style="background-color: #F6F1F1">
	<nav th:insert="~{fragments/header}"></nav>
	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		th:insert="~{fragments/header-utente}"></nav>

	<div class="container" style="flex-direction: column;">
		<div style="display: flex; align-items: flex-start;">
			<nav th:insert="~{fragments/sidebar}"></nav>
			<div class="filters"
				style="width: 100%; display: flex; flex-wrap: wrap; gap: 20px;">
				<form
					style="display: flex; flex-wrap: wrap; gap: 20px; width: 100%;">
					<div style="flex: 1 1 31%; min-width: 200px;">
						<label class="form-label">Colore</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option th:each="col : ${colore.dati}" th:value="${col.id}" th:text="${col.descrizione}"></option>
<!-- 							<option value="id_nero">Nero</option> -->
<!-- 							<option value="id_bianco">Bianco</option> -->
<!-- 							<option value="...">......</option> -->
						</select>
					</div>
					<div style="flex: 1 1 31%; min-width: 200px;">
						<label class="form-label">Fantasia</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option th:each="f : ${fantasia.dati}" th:value="${f.id}" th:text="${f.descrizione}"></option>
						</select>
					</div>
					<div style="flex: 1 1 31%; min-width: 200px;">
						<label class="form-label">Marca</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option th:each="m : ${marca.dati}" th:value="${m.id}" th:text="${m.descrizione}"></option>
<!-- 							<option value="2">2</option> -->
<!-- 							<option value="3">3</option> -->
<!-- 							<option value="...">......</option> -->
						</select>
					</div>
					<div style="flex: 1 1 31%; min-width: 200px;">
						<label class="form-label">Materiale</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option th:each="mat : ${materiale.dati}" th:value="${mat.id}" th:text="${mat.descrizione}"></option>
<!-- 							<option value="2">2</option> -->
<!-- 							<option value="3">3</option> -->
<!-- 							<option value="...">......</option> -->
						</select>
					</div>
					<div style="flex: 1 1 31%; min-width: 200px;">
						<label class="form-label">Colletto</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option th:each="c : ${colletto.dati}" th:value="${c.id}" th:text="${c.descrizione}"></option>
<!-- 							<option value="2">2</option> -->
<!-- 							<option value="3">3</option> -->
<!-- 							<option value="...">......</option> -->
						</select>
					</div>
					<div style="flex: 1 1 31%;">
						<label class="form-label">Taglia</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option th:each="t : ${taglia.dati}" th:value="${t.id}" th:text="${t.descrizione}"></option>
<!-- 							<option value="2">2</option> -->
<!-- 							<option value="3">3</option> -->
<!-- 							<option value="...">......</option> -->
						</select>
					</div>
					<div style="flex: 1 1 31%;">
						<label class="form-label">Manica</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option th:each="man : ${manica.dati}" th:value="${man.id}" th:text="${man.descrizione}"></option>
<!-- 							<option value="2">2</option> -->
<!-- 							<option value="3">3</option> -->
<!-- 							<option value="...">......</option> -->
						</select>
					</div>
					<div style="flex: 1 1 31%; min-width: 200px;">
						<label class="form-label">Vestibilità </label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option th:each="v : ${vestibilita.dati}" th:value="${v.id}" th:text="${v.descrizione}"></option>
<!-- 							<option value="2">2</option> -->
<!-- 							<option value="3">3</option> -->
<!-- 							<option value="...">......</option> -->
						</select>
					</div>
					<div style="flex: 1 1 31%; min-width: 200px;">
						<label class="form-label">Sesso</label> <select
							class="form-select" multiple aria-label="Multiple select example">
							<option selected>Qualsiasi</option>
							<option value="id_blu">M</option>
							<option value="id_nero">F</option>
							<option value="id_bianco">Unisex</option>
						</select>
					</div>
					<button type="submit" class="login-button">Conferma</button>
				</form>
			</div>

		</div>
		<div class="highlight"
			style="justify-content: space-around; margin-top: 50px;">
			<div>
				<h2 align="center"
					style="color: #146C94; font-weight: bold; margin-bottom: 20px;">Tutte
					le magliette</h2>
			</div>

			<div th:if="${listMagliette.dati.empty}">
				<p>No products available</p>
			</div>
			<div class="card-container" th:if="${not listMagliette.dati.empty}"
				style="display: flex; justify-content: space-around; flex-wrap: wrap;">
				<div class="card" th:each="prod: ${listMagliette.dati}"
					style="width: 18rem; margin-bottom: 20px;">
					<img th:src="@{${prod.img}}" class="card-img-top" alt="Scarpe">
					<div class="card-body">
						<h5 class="card-title" th:text="${prod.id}">Nome Prodotto</h5>
						<p class="card-text">Altri parametri......</p>
						<p class="card-text" th:text="${prod.prezzo}">Prezzo</p>
						<a th:href="@{/prodotto(prodottoID=${prod.id})}"
							class="see-button" style="font-size: 18px;">Visualizza</a>
					</div>
				</div>

				<div class="card" style="width: 18rem; margin-bottom: 20px;">
					<img src="../img/pantaloni1.jpg" class="card-img-top" alt="Scarpe">
					<div class="card-body">
						<h5 class="card-title">Nome prodotto</h5>
						<p class="card-text">Altri parametri......</p>
						<p class="card-text">Prezzo</p>
						<a th:href="@{prodotto}" class="see-button"
							style="font-size: 18px;">Visualizza</a>
					</div>
				</div>

				<div class="card" style="width: 18rem; margin-bottom: 20px;">
					<img src="../img/camicia1.jpg" class="card-img-top" alt="Scarpe">
					<div class="card-body">
						<h5 class="card-title">Nome prodotto</h5>
						<p class="card-text">Altri parametri......</p>
						<p class="card-text">Prezzo</p>
						<a th:href="@{prodotto}" class="see-button"
							style="font-size: 18px;">Visualizza</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>