<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.hidden {
	display: none;
}
</style>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
<meta charset="UTF-8">
<title>Progetto finale</title>
</head>
<script>
	    function mostraInput() {
	        const sections = ['input-maglietta', 'input-camicia', 'input-vestito', 'input-pantaloni', 'input-scarpe'];
	        sections.forEach(section => {
	            document.getElementById(section).style.display = 'none';
	            document.querySelectorAll(`#${section} input, #${section} select`).forEach(input => input.value = '');
	        });

	        var selezione = document.getElementById('selezione').value;
	        
	        if (selezione) {
	            document.getElementById('input-' + selezione).style.display = 'block';
	        }
	    }
		
		document.getElementById('imgFile').addEventListener('change', function() {
			var fileName = this.files[0].name;
			document.getElementById('imgHidden').value = fileName;
		});
		

		document.getElementById('imgFile').addEventListener('change', function() {

		    var fileName = this.files[0].name;
		    var fileFormat = fileName.substring(fileName.lastIndexOf(".") + 1);

		
		    document.getElementById('imgHidden').value = fileName;
		    document.getElementById('formatoHidden').value = fileFormat;
		});
</script>
<body style="background-color: #F6F1F1;">
	<nav th:insert="~{fragments/header}"></nav>
	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		th:insert="~{fragments/header-admin}"></nav>
	<div class="create-container">
		<div>
			<h3>NUOVO PRODOTTO</h3>
		</div>
		<form th:action="@{/saveProdotto}" th:object="${prodotto}"
			method="post" class="create-box form-group">
			<input type="hidden" th:field="*{id}" /> 
			<div>
				<div class="mb-3">
					<label for="img">Seleziona un'immagine:</label> <input type="file"
						id="imgFile" th:field="*{img}" accept="image/*">
				</div>
				<div class="mb-3">
					<label class="form-label">Marca</label> <select id="marca"
						name="marca" th:field="*{marca}">

						<option th:each="m : ${marca.dati}" th:value="${m.descrizione}"
							th:text="${m.descrizione}" />

					</select>
				</div>
				<div class="mb-3">
					<label class="form-label">Colore</label> <select id="colore"
						name="colore" th:field="*{colore}">

						<option th:each="c : ${colore.dati}" th:value="${c.descrizione}"
							th:text="${c.descrizione}" />
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label">Fantasia</label> <select id="fantasia"
						name="fantasia" th:field="*{fantasia}">

						<option th:each="f : ${fantasia.dati}" th:value="${f.descrizione}"
							th:text="${f.descrizione}" />
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label">Materiale</label> <select id="materiale"
						name="materiale" th:field="*{materiale}">

						<option th:each="m : ${materiale.dati}"
							th:value="${m.descrizione}" th:text="${m.descrizione}" />
					</select>
				</div>

				<div class="mb-3">
					<label class="form-label">Prezzo</label> <input type="number"
						step="0.01" th:field="*{prezzo}">
				</div>

				<div class="mb-3">
					<label class="form-label">Quantità</label> <input type="number"
						min=0 th:field="*{qty}">
				</div>
				<div class="mb-3">
					<label class="form-label">Sesso</label> <select id="sesso"
						name="sesso" th:field="*{sesso}">
						<option value=""></option>
						<option value="UOMO">M</option>
						<option value="DONNA">F</option>
						<option value="UNISEX">Unisex</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label">Tipo di prodotto</label> <select
						id="selezione" name="selezione" onchange="mostraInput()">
						<option value=""></option>
						<option value="maglietta">Maglietta</option>
						<option value="camicia">Camicia</option>
						<option value="vestito">Vestito</option>
						<option value="pantaloni">Pantaloni</option>
						<option value="scarpe">Scarpe</option>
					</select>
					<div id="input-maglietta" class="hidden">

						<div class="mb-3">
							<label class="form-label">Lunghezza manica</label> <select
								id="lunghezza_manica" name="lunghezza_manica"
								th:field="*{magliettaReq.lunghezzaManica}">
								<option value=""></option>
								<option th:each="m : ${manica.dati}" th:value="${m.descrizione}"
									th:text="${m.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Taglia</label> <select id="taglia"
								name="taglia" th:field="*{magliettaReq.taglia}">
								<option value=""></option>
								<option th:each="t : ${taglia.dati}" th:value="${t.descrizione}"
									th:text="${t.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Tipo colletto</label> <select
								id="tipo_colletto" name="tipo_colletto"
								th:field="*{magliettaReq.tipoColletto}">
								<option value=""></option>
								<option th:each="c : ${colletto.dati}"
									th:value="${c.descrizione}" th:text="${c.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Vestibilità</label> <select
								id="vestibilita" name="vestibilita"
								th:field="*{magliettaReq.vestibilita}">
								<option value=""></option>
								<option th:each="v : ${vestibilita.dati}"
									th:value="${v.descrizione}" th:text="${v.descrizione}" />
							</select>
						</div>
					</div>

					<div id="input-camicia" class="hidden">
						<div class="mb-3">
							<label class="form-label">Lunghezza manica</label> <select
								id="lunghezza_manica" name="lunghezza_manica"
								th:field="*{camiciaReq.lunghezzaManica}">
								<option value=""></option>
								<option th:each="m : ${manica.dati}" th:value="${m.descrizione}"
									th:text="${m.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Taglia</label> <select id="taglia"
								name="taglia" th:field="*{camiciaReq.taglia}">
								<option value=""></option>
								<option th:each="t : ${taglia.dati}" th:value="${t.descrizione}"
									th:text="${t.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Tipo colletto</label> <select
								id="tipo_colletto" name="tipo_colletto"
								th:field="*{camiciaReq.tipoColletto}">
								<option value=""></option>
								<option th:each="c : ${colletto.dati}"
									th:value="${c.descrizione}" th:text="${c.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Vestibilità</label> <select
								id="vestibilita" name="vestibilita"
								th:field="*{camiciaReq.vestibilita}">
								<option value=""></option>
								<option th:each="v : ${vestibilita.dati}"
									th:value="${v.descrizione}" th:text="${v.descrizione}" />
							</select>
						</div>
					</div>

					<div id="input-vestito" class="hidden">
						<div class="mb-3">
							<label class="form-label">Lunghezza manica</label> <select
								id="lunghezza_manica" name="lunghezza_manica"
								th:field="*{vestitoReq.lunghezzaManica}">
								<option value=""></option>
								<option th:each="m : ${manica.dati}" th:value="${m.descrizione}"
									th:text="${m.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Taglia</label> <select id="taglia"
								name="taglia" th:field="*{vestitoReq.taglia}">
								<option value=""></option>
								<option th:each="t : ${taglia.dati}" th:value="${t.descrizione}"
									th:text="${t.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Lunghezza</label> <select
								id="lunghezza" name="lunghezza"
								th:field="*{vestitoReq.lunghezza}">
								<option value=""></option>
								<option th:each="l : ${lunghezza.dati}"
									th:value="${l.descrizione}" th:text="${l.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Vestibilità</label> <select
								id="vestibilita" name="vestibilita"
								th:field="*{vestitoReq.vestibilita}">
								<option value=""></option>
								<option th:each="v : ${vestibilita.dati}"
									th:value="${v.descrizione}" th:text="${v.descrizione}" />
							</select>
						</div>
					</div>

					<div id="input-pantaloni" class="hidden">
						<div class="mb-3">
							<label class="form-label">Taglia</label> <select id="taglia"
								name="taglia" th:field="*{pantaloneReq.taglia}">
								<option value=""></option>
								<option th:each="t : ${taglia.dati}" th:value="${t.descrizione}"
									th:text="${t.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Lunghezza</label> <select
								id="lunghezza" name="lunghezza"
								th:field="*{pantaloneReq.lunghezza}">
								<option value=""></option>
								<option th:each="l : ${lunghezza.dati}"
									th:value="${l.descrizione}" th:text="${l.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Vestibilità</label> <select
								id="vestibilita" name="vestibilita"
								th:field="*{pantaloneReq.vestibilita}">
								<option value=""></option>
								<option th:each="v : ${vestibilita.dati}"
									th:value="${v.descrizione}" th:text="${v.descrizione}" />
							</select>
						</div>
					</div>

					<div id="input-scarpe" class="hidden">
						<div class="mb-3">
							<label class="form-label">Chiusura</label> <select id="chiusura"
								name="chiusura" th:field="*{scarpaReq.chiusura}">

								<option value=""></option>
								<option th:each="c : ${chiusura.dati}"
									th:value="${c.descrizione}" th:text="${c.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Tipo scarpe</label> <select
								id="tipo_scarpe" name="tipo_scarpe"
								th:field="*{scarpaReq.tipoScarpa}">

								<option value=""></option>
								<option th:each="t : ${tipoScarpa.dati}"
									th:value="${t.descrizione}" th:text="${t.descrizione}" />
							</select>
						</div>
						<div class="mb-3">
							<label class="form-label">Taglia</label> <input type="number"
								th:field="*{scarpaReq.tagliaScarpe}">
						</div>

					</div>


				</div>

			</div>





			<div class="buttonLogin" align="center">
				<button type="submit" class="login-button">conferma</button>
			</div>
		</form>


	</div>
</body>

</html>