<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style.css">
<title>Project Academy</title>
</head>
<body style="background-color: #F6F1F1">
	<nav th:insert="~{fragments/header}"></nav>
	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		th:insert="~{fragments/header-utente}"></nav>
		
	<h3 align="center" style="margin-top: 30px; margin-bottom: 20px">I miei ordini</h3>
	<!--  <div align="center" style="margin: 20px; font-size: 20px">*numero* ordini effettuati</div> -->
	<div class="ordine" th:each="o: ${ordini.dati}" th:if="${o.stato != 'CARRELLO'}">
		<div class="ordine-top">
			<div th:utext="'Ordine effettuato il: ' + ${o.data}"></div>
			<div th:utext="'Prezzo totale: ' + ${o.prezzoTotale} + ' €'"></div>
		</div>
		<div class="ordine-bottom" th:each="p: ${o.prodOrdini}">
			<div class="ordine-bottom-top" th:each="prod: ${prodotti.dati}"  th:if="${p.idProdotto == prod.id}">
				<img alt="" th:src="${prod.img}" class="order-img">
				<div class="order-bottom-top-inner">
					<h5 class="order-name" th:text="${prod.marca}"></h5>
					<span th:if="${prod.scarpaDto != null}"
												th:utext="'Taglia scarpe: ' + ${prod.scarpaDto.tagliaScarpe}">
											</span> <span  th:if="${prod.magliettaDto != null}"
												th:utext="'Taglia maglietta: ' + ${prod.magliettaDto.taglia}">
											</span> <span  th:if="${prod.vestitoDto != null}"
												th:utext="'Taglia vestito: ' + ${prod.vestitoDto.taglia}">
											</span> <span  th:if="${prod.camiciaDto != null}"
												th:utext="'Taglia camicia: ' + ${prod.camiciaDto.taglia}">
											</span> <span  th:if="${prod.pantaloneDto != null}"
												th:utext="'Taglia pantaloni: ' + ${prod.pantaloneDto.taglia}">
											</span> <br /> <span 
												th:utext="'Materiale: ' + ${prod.materiale}"> </span>
				</div>
			</div>
			<div class="ordine-bottom-inner">
				<button class="see-button ordine-btn" style="font-size: 18px;">
					<a th:href="@{/prodotto(prodottoID=${p.idProdotto})}" class="a">Visualizza</a>
				</button>
				<form th:action="@{/createModelProdOrd}" method="get"
						class="d-flex">
							
							<input type="hidden"
							name="qty" th:value=1 />
						<input type="hidden"
							name="idProdotto" th:value="${p.idProdotto}" />
				<button  class="see-button ordine-btn" style="font-size: 18px;">Compra di nuovo</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>